files:
  '/etc/awslogs/config/application_log.conf' :
    mode: "000444"
    owner: root
    group: root
    content: |
      [application_log]
      file = /var/app/current/sierraharvesters3-logs/*
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/sierraharvesters3-logs/sierraharvester-s3-logging.log"]]}`
      log_stream_name = {instance_id}

commands:
  restart_awslogs:
    command: service awslogs restart
